/* Reset defaults */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: bisque;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


.main-header {
  width: 100%;
  background-color: white;
  padding: 20px 0;
  text-align: center;
  color: black;
  
  margin-bottom: 20px;
}

.container {
  background: #fff;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

#form-container {
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tabs button {
  flex: 1;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.tabs button.active {
  border-bottom: 2px solid #3498db;
  font-weight: bold;
}

.form {
  display: none;
}

.form.active {
  display: block;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #3498db;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}

.form button:hover {
  background: #2980b9;
}
