

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
   
}

header {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    padding: 20px;
}

.button {
    position: absolute;     
    left: 2rem;            
    margin-top: 35px;             
    transform: translateY(-50%);
    padding: 0.75em 1.5em;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: linear-gradient(45deg, #4facfe, #00f2fe);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.2s ease;
  
    &:hover {
        transform: translateY(-50%) scale(1.01);
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
        background: linear-gradient(45deg, #00f2fe, #4facfe);
      }
  
    &:active {
        transform: translateY(-50%) scale(1.01);
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  }