

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
    margin: 0;
   
}

header {
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
    overflow: hidden;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
    padding: 20px;
}

